In [2]:
1 
l1 = ["Ananya" , "Sri" , "data science" , "course"]
for i in l1:
    print (i)

Ananya
Sri
data science
course

In [15]:
1 #when the condition of while is true then only the loop works.
a = 1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [21]:
#2 
n = int(input("enter the number"))
x = 0
count = 1
while count <= n:
    x=x+count
    count=count+1
x

enter the number 10

55

In [22]:
#2
n = 10
x=1
count = 1
while count <= n:
    x = x * count
    count = count + 1
x

3628800

In [26]:
#3
unit = int(input("enter the units:"))
if unit <= 100:
    bill = unit = 4.5
elif unit >= 101 and unit <= 200:
    bill = 450 + ((unit - 100) * 6)
elif unit >= 201 and unit <= 300:
    bill = 450 + 1200 ((unit - 200) * 10)
else     :
    bill = 450 + 1200 + 2000 + ((unit - 300) * 20)
total = bill 
print("\nelectricity bill = %.2f" %total)

<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

enter the units: 100

electricity bill = 4.50

/tmp/ipykernel_77/507746658.py:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  bill = 450 + 1200 ((unit - 200) * 10)

In [27]:
#4
range(100)

range(0, 100)

In [29]:
l=list(range(100))

In [30]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [34]:
for i in l:
    cube = i*i*i
    print(cube)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299

In [45]:
#3
for i in range (1,100):
    cube = i**3
    if(cube%4==0) & (cube%5==0):
        print(cube)

1000
8000
27000
64000
125000
216000
343000
512000
729000

In [49]:
#5
s="I want to become a data scientist"
count = 0
i = 0
for i in range(len(s)):
    if((s[i]=='a') or (s[i]=='e') or (s[i]=='i') or (s[i]=='o') or (s[i]=='u')):
        count+=1
print("number of vowels in the given string is:",count)

number of vowels in the given string is: 11